@page "/cliente/crear"
@page "/cliente/editar/{Id:int}"


<EditForm Model="@Cliente" OnInvalidSubmit="Send">
   <h1>@Titulo</h1>
    <DataAnnotationsValidator/>
    <ValidationSummary/>
  <div class="form-group">
    <label>Nombre</label>
    <InputText class="form-control" @bind-Value="Cliente.Nombre"></InputText>
    </div>

  <div class="form-group">
    <label>Cedula</label>
    <input class="form-control" @bind="Cliente.cedula"></input>
    </div>
      <div class="form-group">
    <label>Telefono</label>
    <input class="form-control" @bind="Cliente.Telefono"></input>
    </div>
<div class="mt-3"></div>
<button @onclick="Send" type="submit" class="mt-2 btn btn-success">Ok</button>
</EditForm>

@code
{
    [Parameter]
public int Id { get; set; } = 0;
public string Titulo => Id>0? "Editar Cliente":"Crear Cliente";
 public ClienteCreateRequest Cliente { get; set; } = new ClienteCreateRequest();
 protected override async Task OnInitializedAsync()
        {
            
            if(Id !=0)
            {
                var resultado = await clienteManager.GetByIdAsync(Id);
                if(resultado.Succeeded){
                    Cliente.Id = resultado.Data.Id;
                    Cliente.Nombre = resultado.Data.Nombre;
                    Cliente.cedula = resultado.Data.cedula;
                    Cliente.Telefono = resultado.Data.Telefono;
                  
                    StateHasChanged();
                }
            }

        }
public async void Send()
{
    if(Titulo == "Editar Cliente")
     {
            var updateRequest = new UsuarioRolUpdateRequest
    {
        Id = Id,   
                   /* Propiedades actualizadas del registro de rol */
    };

       @* var resultado = await clienteManager.UpdateAsync(Cliente.Nombre, updateRequest);
        
        if(resultado.Succeeded) urlHelper.NavigateTo("/cliente"); *@
     }
      if(Titulo == "Crear Cliente")
     {
        var resultado = await clienteManager.CreateAsync(Cliente);
        
        if(resultado.Succeeded) urlHelper.NavigateTo("/cliente");
     }
     
     
}
}